@model LPS_CRUD.Models.Produk

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>

<h4>Produk</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="nama_barang" class="control-label"></label>
                <input asp-for="nama_barang" class="form-control" />
                <span asp-validation-for="nama_barang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="kode_barang" class="control-label"></label>
                <input asp-for="kode_barang" class="form-control" />
                <span asp-validation-for="kode_barang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="jumlah_barang" class="control-label"></label>
                <input asp-for="jumlah_barang" class="form-control" />
                <span asp-validation-for="jumlah_barang" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="tanggal" class="control-label"></label>
                <input asp-for="tanggal" class="form-control" />
                <span asp-validation-for="tanggal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
</body>
</html>
